        <footer>
            <div class="solid-footer">
                <div class="container">
                    <p>
                        The source code of this site is available on <a
                            href="https://www.github.com/philhawksworth/hawksworx.com" target="new"
                            rel="noopener">GitHub</a> and is hosted and updated by <a href="https://www.netlify.com"
                            target="new" rel="noopener">Netlify</a> automatically after each <a
                            href='https://www.github.com/philhawksworth/hawksworx.com/commit/master' target="new"
                            rel="noopener">code commit</a>
                    </p>
                </div>
            </div>
        </footer>