     <div class="sidebar">
        <header>
            <div class="sidebar-container">
                <ul class="nav">
                    <li><a href="/" class="home">indelible</a></li>
                    <li><a href="/blog" class="blog">blog</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/search" class="search" id="search-link">search</a></li>
                </ul>

                <div class="search-ui invisible">
                    <input type="text" id="search-str" class="search-str" />
                    <ol class="search-results">
                        <ol>
                </div>

                <div class="page-details">

                    <div class="indelible-logo"></div>

                    <p>
                        The blog, playground, and generally a home on the web for <a href="/about" class="no-wrap">Phil
                            Hawksworth</a>, a web nerd, amateur comedian, and cat&nbsp;botherer.
                    </p>

                </div>
            </div>
        </header>
    </div>